footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(42, 103, 184);
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    height: 5%;
}