#home-container{
    display:flex;
    height: 90%;
    #feed-posts{
        width: 70%;
        padding: 10px;
    }
    #user-friends{
        width: 30%;
        border-left: 1px solid grey;
        padding-left: 10px;
        height: 100%;
    }
}